{% extends 'base-registration.html' %}
{% load static %}
{% block title %}Login{% endblock %}

{% block registration %}
    <div class="">
        <h2 class="text-xl font-bold 2xl:2xl">Entrar</h2>
        <p class="text-typography-secondary text-sm 2xl:text-base">Insira suas credenciais</p>
    </div>
    <form class="flex flex-col gap-2 " method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="flex flex-col gap-1">
            <label for="username">Email</label>
            <input class="rounded-lg py-3" type="email" name="username">
            {{form.username.errors}}
        </div>
        <div class="flex flex-col gap-1">
            <label for="password">Senha</label>
            <input class="rounded-lg py-3" type="password" name="password">
            {{form.password.errors}}
        </div>
        <button class="bg-primary text-white font-semibold px-4 py-3 rounded-lg mt-4 hover:bg-primary/90" type="submit">Entrar</button>
    </form>
    <a class="text-primary text-center hover:text-typography-primary font-semibold" href="{% url 'password_reset' %}">Esqueceu a senha?</a>

{% endblock %}
