{% load static %}
{% if messages %}
<ul class="absolute w-4/5 md:w-2/5 lg:w-[30%] top-20 right-0 px-4 messages overflow-hidden">
    {% for message in messages %}

    {% if message.tags == 'error' %}
    <li
        class="effect-message flex items-center gap-2 border border-b-[4px] border-b-red-600 bg-white p-4 shadow-md rounded-t-lg card-message">
        <img src="{% static 'assets/svg/badge-error.svg' %}" alt="Ícone de alerta">
        <p class="text-zinc-950">{{ message }}</p>
    </li>
    {% elif message.tags == 'success' %}
    <li
        class="effect-message flex items-center gap-2 border border-b-[4px] border-b-emerald-600 bg-white p-4 shadow-md rounded-t-lg card-message">
        <img src="{% static 'assets/svg/badge-sucess.svg' %}" alt="Ícone de sucesso">
        <p class="text-zinc-950">
            {{ message }}
        </p>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}