{% extends 'base-registration.html' %}
{% load static %}
{% block title %}Redefinição de senha concluído{% endblock %}

{% block registration %}
<div class="">
    <div class="flex flex-col gap-2">
        <h2 class="text-xl font-bold 2xl:text-2xl">Redefinição de senha completa</h2>
        <p class="text-typography-secondary text-sm 2xl:text-base">Sua senha foi definida. Você pode prosseguir e se autenticar agora.</p>
    </div>
    <a href="{% url 'login' %}" class="text-primary hover:text-typography-primary">Entrar</a>
</div>

{% endblock %}