{% extends 'base-registration.html' %}
{% load static %}
{% block title %}Esqueceu a senha?{% endblock %}

{% block registration %}
  
<div class="space-y-4">
    <h2 class="text-xl xl:text-2xl font-bold ">
        Redefinição de senha enviada
    </h2>
    <p class="text-sm font-medium text-typography-secondary 2xl:text-base">
        Nós te enviamos um e-mail com instruções para configurar sua senha, se uma conta existe com o e-mail
        fornecido. Você receberá a mensagem em breve.
    </p>
    <p class="text-sm font-medium text-typography-secondary 2xl:text-base">
        Se você não recebeu um e-mail, por favor certifique-se que você forneceu o endereço que você está
        cadastrado, e verifique sua pasta de spam.
    </p>
</div>



{% endblock %}