{% extends 'base-registration.html' %}
{% load static %}
{% block title %}Esqueceu a senha?{% endblock %}

{% block registration %}
<div class="space-y-4">
    <div class="flex flex-col gap-1">
        <h2 class="text-xl font-bold 2xl:text-2xl">Redefinição de senha</h2>
        <p class="text-typography-secondary text-sm 2xl:text-base">Forneça seu e-mail para receber instruções de configuração</p>
    </div>
</div>
<form class="flex flex-col gap-2" method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    {{form}}
    <button class="bg-primary text-white font-semibold px-4 py-3 rounded-lg mt-4 hover:bg-primary/90"
        type="submit">Redefinir senha</button>
</form>



{% endblock %}