{% extends 'base-registration.html' %}
{% load static %}
{% block title %}Redefinição de senha{% endblock %}

{% block registration %}
<div class="">
    <div class="flex flex-col gap-1">
        <h2 class="text-xl font-bold 2xl:text-2xl">Digite a nova senha</h2>
        <p class="text-typography-secondary text-sm 2xl:text-base">Insira sua nova senha e realize a confirmação</p>
    </div>
</div>
<form class="flex flex-col gap-2" method="POST">
    {% csrf_token %}
    <div class="flex flex-col">
        {{form.new_password1.label_tag}}
        {{form.new_password1}}
        {{form.new_password1.errors}}
    </div>
    <span class="helptext">
        <ul class="list-inside list-disc flex flex-col gap-1">
            <li class="text-typography-secondary text-sm">Sua senha não pode ser muito parecida com o resto das suas informações pessoais.</li class="text-typography-secondary text-sm">
            <li class="text-typography-secondary text-sm">Sua senha precisa conter pelo menos 8 caracteres.</li>
            <li class="text-typography-secondary text-sm">Sua senha não pode ser uma senha comumente utilizada.</li>
            <li class="text-typography-secondary text-sm">Sua senha não pode ser inteiramente numérica.</li>
        </ul>
    </span>
    <div class="flex flex-col">
        {{form.new_password2.label_tag}}
        {{form.new_password2}}
        {{form.new_password2.errors}}
    </div>

    <button class="bg-primary text-white font-semibold px-4 py-3 rounded-lg mt-4 hover:bg-primary/90"
        type="submit">Alterar minha senha</button>
</form>

{% endblock %}